<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th {
            background-color:
        }
    </style>
</head>
<body>
    <h1>Pandas 써보기</h1>
    <table>
        <tr>
            {% for column in dataframe.columns  %}
                {% if forloop.counter0 <= 20 %}
                    <th style='background-color: darkgray;'>{{column}}</th>
                {% else %}
                    <th>{{column}}</th>
                {% endif %}
                
            {% endfor %}
            
        </tr>
        {% for row in dataframe.values %}
        <tr>
            {% for value in row  %}
                <th>{{value}}</th>
            {% endfor %}
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>