{% extends "base.html" %}




{% block content %}
    <h1>문제1. 데이터 읽어오기</h1>
    <table>
        <tr style =>
            {% for column in df.columns  %}
                {% if forloop.counter0 <= 20 %}
                    <th style='background-color: lightgray; padding-right : 60px;'>{{column}}</th>
                {% else %}
                    <th style= ''>{{column}}</th>
                {% endif %}
                
            {% endfor %}
        </tr>
        {% for row in df.values %}
        <tr>
            {% for value in row  %}
                <th>{{value}}</th>
            {% endfor %}
            
        </tr>
        {% endfor %}
    </table>

{% endblock content %}
